@charset "UTF-8";

*{
	box-sizing: border-box;
}
section{
	width: 1080px;
	margin: auto;
}
.showList{
	display: inline-block;
	margin-top: 20px;
	text-align: center;
	font-weight: border;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
	color: white;
	font-weight: border;
	border-radius: 3px;
	background-color: #D5C2EE;
}
.container{
	margin: auto;
	width: 900px;
	min-height : 700px;
}
.product_container{
	width: 100%;
	display: flex;
	margin: auto;
}
.imgBox{
	width: 50%;
	margin-left: 10px;
	margin-top: 10px;
}
.imgBox img{
	width: 100%;
}
.textBox{
	width: 50%;
	margin-top: 50px;
}
.productName{
	font-size: 22px;
	font-weight: bolder;
}
.productName, p, .fastDeal{
	width: 100%;
	text-align: center;
}
.applicationBtn{
	display: inline;
}
.btn{
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}
.btn:hover {
	cursor: pointer;
}
.productSizeList{
	width: 150px;
	height: 30px;
	padding-left: 5px;
	font-size: 14px;
	outline: none;
	border: 1px solid #FFBEBE;
	border-radius: 3px;
}
#buyNow{
	background-color: #D5C2EE;
}
#sellNow{
	background-color: #FFBEBE;
}
.fastBuySell{
	margin: 10px 0;
}
.fastDealTitle{
	display: inline-block;
	width: 100px;
	margin-top: 10px;
	text-align: center;
}
@keyframes infoAnim {
    0% { color: #D5C2EE; padding-top: 7px;}
    100% { color: #FFBEBE; padding-top: 0px;}
}
#icon{
    display: block;
    margin-left: 215px;
    width: 14px;
	height: 14px;
	font-size: 14px;
	animation-name: infoAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
	cursor: pointer;
}
.faseDealInfo{
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #FFBEBE;
}
#buyApplication{
	border: 1px solid #D5C2EE;
	background-clip: white;
}
#sellApplication{
	border: 1px solid #FFBEBE;
	background-clip: white;
}
.productInfo{
	margin-top: 30px;
	text-align: center;
}
table{
	width: 300px;
	margin-left: 75px;
	text-align: left;
	border-collapse: collapse;
}
td{
	padding: 5px;
	border-bottom: 1px solid #FFBEBE;
}
td:nth-of-type(1) {
	text-align: center;
	width: 50%;
}